# PowerShell 可执行文件 (除了主程序)
# !双击此处开始下载file.txt中的url内容.exe

# 下载的文件目录
files/downloads/

# 日志文件
logs/*.log

# 临时文件
*.tmp
*.temp

# 系统文件
.DS_Store
Thumbs.db

# IDE 文件
.vscode/
.idea/

# PowerShell 模块缓存
ModuleAnalysisCacheFile*